/////////////////////////////
// SASS VARIABLES
// Place SASS variables here
$primary-red: hsl(1, 90%, 64%); // notification-icon
$primary-blue: hsl(219, 85%, 26%); // notification-box

$neutral-white: hsl(0, 0%, 100%); // app background
$neutral-light-grayish-blue-1: hsl(210, 60%, 97%); // body
$neutral-light-grayish-blue-2: hsl(211, 68%, 94%); // unread-notification-bg
$neutral-light-grayish-blue-3: hsl(205, 33%, 90%);
$neutral-grayish-blue-1: hsl(219, 14%, 63%); // timestamp
$neutral-grayish-blue-2: hsl(219, 12%, 42%); //  action
$neutral-dark-blue: hsl(224, 21%, 14%); // poster/heading

$size-mobile: 23.4275rem;
$size-desktop: 45.625rem;

$ff-primary: "Plus Jakarta Sans";

/////////////////////////////
// CSS VARIABLES
// Place CSS Variables here
:root {
   --ttime: 0.2s;
   // Colors for Dark Theme
   --surface-light: var(--gray-3); // var(--gray-3);
   --text-light: var(--gray-10); // var(--gray-10);
   --brand-light: var(--purple-7); // var(--purple-7);

   // Colors for Light Theme
   --surface-dark: var(--gray-10); // var(--gray-10);
   --text-dark: var(--gray-3); // var(--gray-3);
   --brand-dark: var(--purple-7); // var(--orange-5);
}
